{% extends 'base.html.twig' %}
{% block header %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
{% endblock %}


{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}


    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <h1>
            Hello  {{ app.user.firstname }} </h1>
    {% else %}

        <h1>
            Welcome Anonymous</h1>
    {% endif %}

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <a href="/logout">
            logout
        </a>
    {% else %}

        <a href="/login">
            log
        </a>
    {% endif %}

<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    {% for user in users %}
        <a href="{{ path('user_firstname', {'byFirstname':user.firstname})}}">
            {{ user.firstname }}
        </a>
    {% endfor %}
</div>
{% endblock %}
